footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  background-color: rgba(128, 128, 128, 0.3);
}

.footer-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0 5px 0;
}

.footer-icons {
  font-size: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px 0 10px;
  cursor: pointer;
}

.footer-icons-chat {
  width: 120px;
  height: 15px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border-radius: 8px;
}

.footer-icons__desc {
  font-size: 8px;
  color: rgba(128, 128, 128, 0.3);
  padding-left: 5px;
}

.footer-icons img {
  width: 10px;
  opacity: 0.5;
}

.footer-icons__img {
  margin-right: 3px;
  position: relative;
}

.footer-icons__img div {
  width: 2px;
  height: 2px;
  background-color: orange;
  border-radius: 50%;
  position: absolute;
  top: 1px;
  right: 0;
}
